<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="ErrorConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="ErrorConsole" />
		</Root>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
	<!-- log4j.category.org.springframework.beans.factory=DEBUG -->
</Configuration>